@model JoinerAppReact.Models.User
@{
    ViewData["Title"] = "RegistrationTemplate";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1 style="color:orange">Registration Successful</h1>
    <p><strong>Hello @Model.FirstName,</strong></p>
    <p>You have successfully created an account at Joiner</p>
</body>
</html>